@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Chonburi:regular&display=swap");
@font-face {
  font-family: "Bootshaus";
  src: url("../../fonts/Bootshaus-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amapola Modern";
  src: url("../../fonts/Amapola-Modern.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --white-color: #fff;
  --dark-white-color: #fff;
  --pink-color: #ff6aa0;
  --dark-green-color: #007271;
  --orange-color: #e9ac47;
  --yellow-color: #fed607;
  --black-beruz-color: #009795;
  --black-color: #161616;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: var(--black-color);
  color: var(--white-color);
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*="__big-container"] {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.button {
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 20px;
  background: linear-gradient(133deg, #d1a433 0%, #85b1cd 48.13%, #ff8cda 100%);
  padding: 20px 30px;
}

.title {
  font-family: "Bootshaus", sans-serif;
  font-size: 130px;
  color: var(--black-beruz-color);
  -webkit-text-stroke: 3px var(--white-color);
}

.hero {
  padding: 50px 0px;
  background: url("../../img/hero/decor.png") 0 0/cover no-repeat, url("../../img/hero/main-bg.jpg") 0 0/cover no-repeat;
}

.hero__logo {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  color: var(--white-color);
}

.hero__logo:not(:last-child) {
  margin-bottom: 15px;
}

.hero__list:not(:last-child) {
  margin-bottom: 300px;
}

@media (max-width: 1200px) {
  .hero__list:not(:last-child) {
    margin-bottom: 200px;
  }
}

@media (max-width: 992px) {
  .hero__list:not(:last-child) {
    margin-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .hero__list:not(:last-child) {
    margin-bottom: 70px;
  }
}

.hero__item {
  color: var(--white-color);
  font-size: 12px;
  text-transform: uppercase;
}

.hero__item:not(:last-child) {
  margin-bottom: 10px;
}

.hero__item::before {
  content: "";
  display: inline-block;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  background: var(--white-color);
  margin: 0 5px 3px 0;
}

@media (max-width: 992px) {
  .hero__item {
    color: var(--black-color);
    font-weight: 600;
  }
  .hero__item::before {
    content: "";
    background: var(--black-color);
  }
}

.hero__text-block {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

@media (min-width: 993px) {
  .hero__text-block::after {
    content: "";
    background: url("../../img/hero/microphone.png") 0 0 no-repeat;
    position: absolute;
    width: 290px;
    height: 390px;
    top: 0;
    right: -50px;
  }
}

.hero__label {
  position: relative;
  z-index: 2;
  font-family: "Amapola Modern", sans-serif;
  font-size: 165px;
  color: var(--pink-color);
}

@media (max-width: 992px) {
  .hero__label {
    font-size: 120px;
  }
}

@media (max-width: 767px) {
  .hero__label {
    font-size: 90px;
  }
}

@media (max-width: 550px) {
  .hero__label {
    font-size: 70px;
  }
  .hero__label:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .hero__label {
    font-size: 55px;
  }
}

.hero__title {
  position: relative;
  z-index: 2;
  font-family: "Bootshaus", sans-serif;
  font-size: 130px;
  color: var(--black-beruz-color);
  -webkit-text-stroke: 3px var(--white-color);
  text-stroke: 3px var(--white-color);
  margin-left: 90px;
}

@media (max-width: 1260px) {
  .hero__title {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 80px;
    max-width: none;
    margin-left: 0px;
    -webkit-text-stroke: 2px var(--white-color);
    text-stroke: 2px var(--white-color);
  }
}

@media (max-width: 767px) {
  .hero__title {
    font-size: 60px;
    -webkit-text-stroke: 1px var(--white-color);
    text-stroke: 1px var(--white-color);
  }
  .hero__title:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .hero__title {
    -webkit-text-stroke: 0.5px var(--white-color);
    text-stroke: 0.5px var(--white-color);
    font-size: 60px;
  }
}

.hero__last-title {
  z-index: 2;
  position: relative;
  font-family: "Bootshaus", sans-serif;
  font-size: 65px;
  text-align: right;
  color: var(--black-color);
}

@media (max-width: 767px) {
  .hero__last-title {
    font-size: 45px;
  }
}

.children-holidays {
  padding: 50px 0px;
}

@media (max-width: 480px) {
  .children-holidays {
    padding: 30px 0px;
  }
}

.children-holidays__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .children-holidays__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.children-holidays__text {
  color: var(--dark-white-color);
  font-size: 24px;
  font-weight: 600;
}

.children-holidays__text:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .children-holidays__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .children-holidays__text {
    font-size: 18px;
  }
}

.children-holidays__description {
  color: var(--dark-white-color);
  line-height: 125%;
  font-weight: 600;
}

.children-holidays__description_right {
  text-align: right;
}

.children-holidays__description:not(:last-child) {
  margin-bottom: 30px;
}

.children-holidays__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .children-holidays__img {
    text-align: center;
  }
}

.children-holidays__img-text-block {
  position: relative;
  text-align: center;
}

.children-holidays__title {
  position: absolute;
  top: 30%;
  left: 18%;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-green-color);
}

.children-holidays__title:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .children-holidays__title {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  .children-holidays__title {
    left: 30%;
  }
}

@media (max-width: 650px) {
  .children-holidays__title {
    left: 25%;
  }
}

@media (max-width: 550px) {
  .children-holidays__title {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .children-holidays__title {
    left: 20%;
    font-size: 32px;
  }
}

@media (max-width: 380px) {
  .children-holidays__title {
    left: 15%;
    font-size: 28px;
  }
}

.children-holidays__img-cloud img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.children-holidays__hash-tag {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  color: var(--pink-color);
  font-weight: 700;
}

.children-holidays__hash-tag:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .children-holidays__hash-tag {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .children-holidays__hash-tag {
    font-size: 32px;
  }
  .children-holidays__hash-tag:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .children-holidays__hash-tag {
    font-size: 24px;
  }
}

.children-holidays__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  padding: 20px 20px 20px 30px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.children-holidays__button img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .children-holidays__button {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .children-holidays__button {
    padding: 15px 15px 15px 20px;
  }
  .children-holidays__button img {
    width: 30px;
  }
}

@media (max-width: 360px) {
  .children-holidays__button {
    font-size: 16px;
    padding: 15px 10px;
  }
  .children-holidays__button img {
    width: 25px;
  }
}

.founder {
  padding: 50px 0px;
}

@media (max-width: 480px) {
  .founder {
    padding: 30px 0px;
  }
}

.founder__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

@media (max-width: 992px) {
  .founder__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.founder__column {
  text-align: center;
  border-radius: 16px;
}

.founder__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #d9d9d9;
  padding: 30px;
}

@media (max-width: 767px) {
  .founder__column:last-child {
    padding: 15px;
  }
}

@media (min-width: 993px) {
  .founder__column {
    width: 50%;
  }
}

.founder__img img {
  border-radius: 18px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.founder__en-text-block {
  color: #e9ac47;
}

.founder__en-text-block:not(:last-child) {
  margin-bottom: 15px;
}

.founder__en-full-name {
  font-family: "Chonburi", sans-serif;
  display: block;
  font-size: 22px;
}

.founder__activities {
  font-family: "Gilroy", sans-serif;
  display: block;
  text-transform: uppercase;
}

.founder__name {
  display: block;
  font-weight: 700;
  font-size: 50px;
}

.founder__name:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .founder__name {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .founder__name {
    font-size: 28px;
  }
}

.founder__text {
  font-weight: 600;
  font-size: 18px;
}

.founder__text:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .founder__text {
    font-size: 16px;
  }
}

.founder__text_pink {
  color: var(--pink-color);
}

.founder__text_beruz {
  color: var(--black-beruz-color);
}

.founder__text_yellow {
  color: var(--yellow-color);
}

.genious {
  position: relative;
  background: url("../../img/genius/bg.jpg") 0 0/cover no-repeat;
  padding: 400px 0px 160px 0px;
}

.genious::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 140px;
  top: 0;
  left: 0;
  right: 0;
  background: url("../../img/genius/top-decor.png") 0 0/cover no-repeat;
}

.genious::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 202px;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../img/genius/bottom-decor.png") 0 0/cover no-repeat;
}

@media (max-width: 992px) {
  .genious {
    padding: 150px 0px;
  }
  .genious::before {
    content: "";
    height: 80px;
  }
}

@media (max-width: 550px) {
  .genious {
    padding: 100px 0px;
  }
  .genious::before {
    content: "";
    height: 60px;
  }
}

@media (max-width: 480px) {
  .genious {
    padding: 80px 0px 100px 0px;
  }
  .genious::before {
    content: "";
    height: 40px;
  }
}

.genious__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

@media (max-width: 992px) {
  .genious__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.genious__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (min-width: 993px) {
  .genious__column:first-child {
    margin-top: -200px;
  }
}

.genious__column:last-child {
  margin-bottom: -100px;
}

@media (max-width: 550px) {
  .genious__column:last-child {
    margin-bottom: -30px;
  }
}

.genious__img-cloud:not(:last-child) {
  margin-bottom: 15px;
}

.genious__img-cloud img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .genious__img-cloud {
    text-align: center;
  }
}

.genious__text {
  color: var(--dark-white-color);
  font-size: 24px;
  font-weight: 600;
}

.genious__text:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .genious__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .genious__text {
    font-size: 18px;
  }
}

.genious__description {
  color: var(--dark-white-color);
  line-height: 125%;
  font-weight: 600;
}

.genious__description:not(:last-child) {
  margin-bottom: 30px;
}

.genious__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  padding: 20px 20px 20px 30px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.genious__button img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .genious__button {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .genious__button {
    padding: 15px 15px 15px 20px;
  }
  .genious__button img {
    width: 30px;
  }
}

@media (max-width: 360px) {
  .genious__button {
    font-size: 16px;
    padding: 15px 10px;
  }
  .genious__button img {
    width: 22px;
  }
}

.genious__img-animators img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
