:root {
	--white-color: #fff;
	--dark-white-color: #fff;
	--pink-color: #ff6aa0;
	--dark-green-color: #007271;
	--orange-color: #e9ac47;
	--yellow-color: #fed607;
	--black-beruz-color: #009795;
	--light-beruz-color: #00adab;
	--black-color: #161616;
}
