.footer {
	padding: 100px 0px;
	@media (max-width: 992px) {
		padding: 70px 0px;
	}
	@media (max-width: 767px) {
		padding: 50px 0px;
	}
	@media (max-width: 480px) {
		padding: 15px 0 30px 0px;
	}
	// .footer__container

	&__container {
		text-align: center;
	}

	// .footer__data-about-business

	&__data-about-business {
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}

	// .footer__text

	&__text {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .footer__polici-of-confidantionality

	&__polici-of-confidantionality {
		font-weight: 600;
		font-size: 24px;
		color: var(--white-color);

		@media (max-width: 992px) {
			font-size: 20px;
		}

		@media (max-width: 767px) {
			font-size: 18px;
		}
	}
}
